* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    background-color:whitesmoke;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 45% 35%;
}

#left-top-left {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    background: #000;
}

#left-top-right {
   justify-self: right;
   padding: 40px;
   text-align: right;
   overflow: hidden;
}
#left-top-right h4{
margin-bottom: 60px;
font-size: 20px;
font-weight: 500;
}
#left-top-right h5{
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 500;
    }
    


#left-middle {
    /* background-color: aqua; */
    grid-column: 1/3;
}

#left-bottom {
    grid-column: 1/3;
    /* background-color:orange; */
}

#right {
    /* background-color: blueviolet; */
    grid-column: 3/4;
    grid-row: 1/4;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*@media (max-width:600px) {
  
    #page1 {
        /* background-color: crimson; */
        /* width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 10% 20% 30% 40% ;
    } */
  

    #left-bottom {
        /* grid-column: 1/3; */
        /* background-color: orange; */
        /* grid-column: 1 / 3;
        grid-row: 3 / 4; */

    }
    
    #right {
        /* background-color: blueviolet; */
        /* grid-column: 3/4; */
        /* grid-row: 1/4; */
        /* grid-column: 1 / 3; /* Spans both columns */
        /* grid-row: 4 / 5;   / */ */
    }
    
}*/